{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Education</h1>
  </div>
  <div class="container">
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Degree</th>
            <th scope="col">Institution</th>
            <th scope="col">Result</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B.Sc</td>
            <td>Daffodil International University</td>
            <td>3.88</td>
           
          </tr>
          <tr>
            <td>H.S.C</td>
            <td>Govt. Azizul Haque College, Bogura</td>
            <td>5.00</td>
           
          </tr>
          <tr>
            <td>S.S.C</td>
            <td>BIAM Model School & College,Bogura</td>
            <td>5.00</td>
          </tr>
        </tbody>
      </table>
  </div>

{% endblock %}