{% extends "layout.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Contact Me</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input name="name" class="form-control"  placeholder="Your Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
</form> 
</div>
{% endblock %}